<html>
  <head></head>
  <body>
    <br />
    Bienvenu sur le projet Chappy.<br />
    Auteurs : SUM42 <br />
  <br />
    Cliquez sur le lien ci-dessous pour réintialiser votre mot de passe.<br />
    <br />
    {{confirmUrl}}
  </body>
</html>